@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 1rem;
  height: .75em;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  box-shadow: inset 0 0 2px #282828;
  border: 1px solid #282828;
  background: #f6f6f6;
  border-radius: 100vw;
}

::-webkit-scrollbar-track-piece{
  box-sizing: border-box;
  margin-block: 0.5em;
  box-shadow: inset 0 0 5px #282828;
  border-radius: 100vw;
  background: #282828;
}

/* * {
  scrollbar-gutter: stable;
} */

body{
  background-color: transparent;
}

.CircularProgressbar-text {
  transition: stroke-dashoffset 0.5s ease 0s;
}


div.gradient {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
}

.gridY path {
  stroke: none;
  stroke-width: 0;
}

.y-axis path {
  stroke: none;
  stroke-width: 0;
}

.dropdown-menu .down-chevron {
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu .up-chevron {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.form-label {
  display: inline-block;
}
.form-field {
  display: inline;
}

html {
  background-color: transparent;
  overflow-y: overlay;
}

.progressbar-animate{
  width:100%
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  transition: background-color 0s ease-in-out 5000s;
  font-size: inherit;
}

 input[type="file"] {
  cursor: inherit
}

::-webkit-file-upload-button {
   cursor:pointer; 
  }
